@font-face {
  font-family: "x12y12pxMaruMinya";
  src: url("assets/x12y12pxMaruMinya_2023-07-14/x12y12pxMaruMinya.ttf") format('truetype');
}

body {
  font-family: "x12y12pxMaruMinya", sans-serif;
  letter-spacing: 0.1em;
}

:focus {
  outline: none;
}

/* utility class */

.error {
  color: #F56565;
}

.action-link {
  text-decoration: underline;
  cursor: pointer;
}

/* other */

input {
  background: #0000;
}

input[type=number] {
  padding-left: 0.5rem;
  max-width: 100px;
  text-align: center;

  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid 2px #dac5a4;
  transition: border 250ms linear;

  &:focus {
    outline: none;
    border-bottom: solid 2px #579BB1;
  }
}

input[type=file] {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

select {
  background: #0000;
  min-height: 2rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #F8F4EA;
  padding: 4px 8px 4px 8px;

  & .utility {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    background: #F8F4EA;

    & > * {
      margin-left: 10px;
    }
  }
}

main {
  background: #ECE8DD;
  line-height: 150%;
}

.container {
  max-width: 720px;
  padding: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.img-preview-container {
  display: none;
  overflow: auto;
  width: 100%;
}

#img-error {
  display: none;
}

.pixelation-active {
  color: #579BB1;
}

section {
  margin-top: 1rem;
}


footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  color: white;
  background: #89b9bd;

  & a, :visited {
    color: #30736C;
  }

  & a:hover {
    color: #F29991;
  }

  & div {
    width: 100%;

    & p {
      text-align: center;
    }

    & div {
      display: flex;
      width: 80%;
      max-width: 500px;
      margin: 0 auto;
      align-items: center;
      justify-content: space-around;
    }
  }
}